# Database
DATABASE_URL="postgresql://clearline:clearline_pass@localhost:5432/clearline_db"

# Redis
REDIS_URL="redis://localhost:6379"

# NextAuth
NEXTAUTH_SECRET="supersecretkey-change-in-production-minimum-32-chars"
NEXTAUTH_URL="http://localhost:3000"

# Invite JWT
INVITE_JWT_SECRET="invite-secret-change-in-production-minimum-32-chars"

# MinIO / S3
MINIO_ENDPOINT="localhost"
MINIO_PORT="9000"
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_BUCKET="clearline"
MINIO_USE_SSL="false"

# App
PORT=3000
NODE_ENV=development

# mediasoup
MEDIASOUP_MIN_PORT=40000
MEDIASOUP_MAX_PORT=49999
MEDIASOUP_ANNOUNCED_IP=127.0.0.1
